<div class="alert alert-danger" ng-if="users.errorMsg"><p>{{users.errorMsg}}</p></div>
<div class="alert alert-success" ng-if="users.successMsg"><p>{{users.successMsg}}</p></div>
<div class="progress" ng-if="users.waitingForServer">
    <div class="progress-bar progress-bar-striped active" role="progressbar"  style="width: 100%"></div>
</div>

<div class="panel panel-default users-page">
    <div class="panel-heading">
        <h3 class="panel-title">Users</h3>        
    </div>   

    <div class="panel-body">
            <div class="top-row clearfix">
                <button class="btn btn-primary pull-right" ng-click="showForm=!showForm">
                    <span ng-if="!showForm">Add User</span>
                    <span ng-if="showForm">Hide form</span>
                </button>
            </div>
            <div class="user-form" ng-if="showForm">
                <form name="userForm" ng-submit="userForm.$valid && users.addUser($event)">
                    <div class="input-row">
                        <input type="text" ng-trim="true" ng-required="true"
                               id="firstnameInput" name="firstnameInput"
                               ng-model="users.user.firstname"
                               class="form-control" placeholder="First name">
                        <input type="text" ng-trim="true" ng-required="true"
                               id="lastnameInput" name="lastnameInput"
                               ng-model="users.user.lastname"
                               class="form-control" placeholder="Last name">
                        <input type="email" ng-trim="true" ng-required="true"
                               id="emailInput" name="emailInput"
                               ng-model="users.user.email"
                               class="form-control" placeholder="Email">
                    </div>
                    <div class="clearfix">
                        <button type="submit" class="btn btn-primary waves-effect pull-right" ng-disabled="!userForm.$valid">
                            <span class="hidden-xs">Add</span>
                        </button>
                    </div>                   
                </form>
                <hr />
            </div>

            <div class="list-group" ng-if="users.allUsers.length > 0">
                <div ng-repeat="user in users.allUsers | orderBy:'-id'" class="list-group-item">
                    <h3 class="list-group-item-heading">{{user.firstname}} {{user.lastname}}</h3>
                    <p class="list-group-item-text">{{user.email}}</p>
                </div>
            </div>
        </div>
</div>
