.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

.users-page {
    .top-row {
        margin-bottom: 15px;
    }
    .user-form input, button{
        margin-bottom: 5px;
    }
}